/* contents */


/* login */
.cform_content_logo{}
.cform_content_logo img{}
.cform_field_tb_wrap{}
.cform_field_tb{}
.cform_field_tr{}
.cform_field_th,
.cform_field_td{}
.cform_field_th{}
.cform_field_td{}
.cform_field_label{}
input.form_input{}
.btn_cform_submit_row{}
.btn_cform_submit{}
.btn_cform_submit_text{}

/* monitor */
.data_grid_wrap{padding:46px 30px;}
.data_both_row_wrap{display:flex;justify-content: flex-end;}
.data_both_row{width:100%;display:flex;gap:20px;justify-content: flex-end;max-width:calc(100% - 100px)}
.data_both_row .gap{flex:0 0 20px;}
.data_both_data_cols{flex:0 0 calc(50% + 80px);min-width:0;}
.data_both_chart_cols{flex:0 0 50%;min-width:0;background:rgba(250,60,80,.2);}
.section_tab_package{}
.section_tab_row{display:flex;position:relative;}
.section_tab_row:before{display:block;content:'';width:100%;height:1px;background:#455267;position:absolute;bottom:0;left:0;}
.section_tab_main_cols{flex:1;}
.section_tab_list{display:flex;padding-left:1px;}
.section_tab_list > li{margin-left:-1px;}
.section_tab{min-width:180px;text-align: center;padding:8px 8px 7px;display:inline-block;border:1px solid #455267;border-radius:10px 10px 0 0;}
.section_tab.active{background:#3f4858;color:#fff;}
.section_tab_else_cols{flex:1;display:flex;justify-content: flex-end;align-items: center;}
.chart_guide_item_list{display:flex;flex-wrap:wrap;gap:20px;}
.chart_guide_item_list > li{}
.chart_guide_item_list > li:last-of-type{}
.chart_guide_item{display:flex;align-items: center;gap:5px;}
.chart_guide_bullet{flex:0 0 11px;width:11px;height:11px;border:1px solid #d8d8d8;background:#fff;display:inline-block;}
.chart_guide_value{font-size:13px;color:#4e4e4e;}
.section_chart_row{}
.donut_chart_list_wrap{height:100%;text-align: center;}
.donut_chart_list{display:flex;height:100%;align-items: center;}
.donut_chart_list > li{flex:1;}
.donut_chart_item{}
.donut_chart_graphic_row{width:126px;height:126px;margin:0 auto;position:relative;}
.donut_chart_graphic_render{}
.donut_chart_graphic_render img{}
.graphic_current_value_item{display:flex;align-items: center;justify-content: center;width:100%;height:100%;position:absolute;top:0;left:0;}
.graphic_value{font-size:25px;color:#2b2b2b;font-weight:700;}
.graphic_unit{font-size:14px;color:#2b2b2b;display:inline-block;padding-left:3px;}
.donut_chart_spec_row{margin-top:10px;}
.donut_chart_spec{font-size:17px;color:#000000;}
.data_single_row{margin-top:33px;}
.data_single_container{display:flex;gap:20px;}
.data_single_short_cols{flex:0 0 60px;}
.data_single_short_key{
    height:100%;display:flex;align-items: center; justify-content: center;
    background:#4a586e; border-radius:0 10px 0 10px;text-align: center; color:#ffffff; font-weight:500; font-size:18px;
}
.data_single_short_key.type2{background-color:#3f4858;}
.data_single_long_cols{flex:1;min-width:0;}
.data_tb_render_container{display:flex;gap:20px 0;margin:0 -10px;flex-wrap:wrap;}
.data_tb_render_cols{flex:0 0 50%;box-sizing: border-box;width:50%;padding:0 10px;display:flex;flex-direction: column;}
.render_key_row{flex:0;}
.render_key_bar{font-weight:500;position:relative;border:1px solid #888f99;display:block;text-align: center;padding:14px;}
.render_key_bar:after{display:none;content:'';width:100%;height:100%;box-sizing: border-box;border:1px solid #888f99;position:absolute;top:0;left:0;}
.render_key_bar.active:after{display:block;border-color:#438ff5;}
.render_key_bar.active{font-weight:700;color:#438ff5}
.render_data_table_row{flex:1;min-height:0;}

/* timeline */
.data_timeline_wrap{padding:27px 30px;}
.data_timeline_util_row{display:flex;justify-content: space-between;align-items: flex-end;margin-bottom:20px;}
.data_timeline_guide_cols{}
.data_timeline_guide_cols .data_timeline_guide_cols{}
.data_timeline_else_cols{}
input.form_calendar{width:140px;border:1px solid #c8c8c8;border-radius:7px;padding:0 36px 0 10px;color:#2b2b2b;line-height:1;font-size:15px;box-sizing: border-box;height:36px;background:#fff url("../images/ico_input_calendar.png") no-repeat 100% 50%/28px auto;}

.data_timeline_container_row{}
.data_timeline_container{}
.data_timeline_key_cols{}
.timeline_label_box_vitem_wrap{}
.timeline_label_box_vitem{}
.timeline_label_box_vitem.type2{}
.timeline_text_box{}
.timeline_number_box_group{}
.timeline_number_box{}

.data_timeline_chart_cols{}

.swiper-container.timeline-chart-container{}
.swiper-container.timeline-chart-container .swiper-wrapper{}
.swiper-container.timeline-chart-container .swiper-slide{}
.swiper-container.timeline-chart-container .swiper-scrollbar{}

.data_timeline_box_cols{}
.timeline_summary_box{}
.timeline_summary_title_row{}
.timeline_summary_title_row i.down{}
.timeline_summary_title_row i.up{}
.timeline_summary_title{}
.timeline_summary_content_row{}