/* contents */


/* login */
.cform_content_logo{}
.cform_content_logo img{}
.cform_field_tb_wrap{}
.cform_field_tb{}
.cform_field_tr{}
.cform_field_th,
.cform_field_td{}
.cform_field_th{}
.cform_field_td{}
.cform_field_label{}
input.form_input{}
.btn_cform_submit_row{}
.btn_cform_submit{}
.btn_cform_submit_text{}

/* monitor */
.data_grid_wrap{padding:30px 30px;}
.data_both_row_wrap{display:flex;justify-content: flex-end;}
.data_both_row{width:100%;display:flex;gap:20px;justify-content: flex-end;max-width:calc(100% - 100px)}
.data_both_row .gap{flex:0 0 20px;}
.data_both_data_cols{flex:0 0 calc(50% + 80px);min-width:0;}
.data_both_chart_cols{flex:0 0 50%;min-width:0;}
.section_tab_package{}
.section_tab_row{display:flex;position:relative;}
.section_tab_row:before{display:block;content:'';width:100%;height:1px;background:#455267;position:absolute;bottom:0;left:0;}
.section_tab_main_cols{flex:1;}
.section_tab_list{display:flex;padding-left:1px;}
.section_tab_list > li{margin-left:-1px;}
.section_tab{min-width:180px;text-align: center;padding:8px 8px 7px;display:inline-block;border:1px solid #455267;border-radius:10px 10px 0 0;}
.section_tab.active{background:#3f4858;color:#fff;}
.section_tab_else_cols{flex:1;display:flex;justify-content: flex-end;align-items: center;}
.chart_guide_item_list{display:flex;flex-wrap:wrap;gap:20px;}
.chart_guide_item_list > li{}
.chart_guide_item_list > li:last-of-type{}
.chart_guide_item{display:flex;align-items: center;gap:5px;}
.chart_guide_bullet{flex:0 0 11px;width:11px;height:11px;border:1px solid #d8d8d8;background:#fff;display:inline-block;}
.chart_guide_value{font-size:13px;color:#4e4e4e;}
.section_chart_row{}
.donut_chart_list_wrap{height:100%;text-align: center;}
.donut_chart_list{display:flex;height:100%;align-items: center;}
.donut_chart_list > li{flex:1;}
.donut_chart_item{}
.donut_chart_graphic_row{width:126px;height:126px;margin:0 auto;position:relative;}
.donut_chart_graphic_render{}
.donut_chart_graphic_render img{}
.graphic_current_value_item{display:flex;align-items: center;justify-content: center;width:100%;height:100%;position:absolute;top:0;left:0;}
.graphic_value{font-size:25px;color:#2b2b2b;font-weight:700;}
.graphic_unit{font-size:14px;color:#2b2b2b;display:inline-block;padding-left:3px;}
.donut_chart_spec_row{margin-top:10px;}
.donut_chart_spec{font-size:17px;color:#000000;}
.data_single_row{margin-top:33px;}
.data_single_container{display:flex;gap:20px;}
.data_single_short_cols{flex:0 0 60px;}
.data_single_short_key{
    height:100%;display:flex;align-items: center; justify-content: center;
    background:#4a586e; border-radius:0 10px 0 10px;text-align: center; color:#ffffff; font-weight:500; font-size:18px;
}
.data_single_short_key.type2{background-color:#3f4858;}
.data_single_long_cols{flex:1;min-width:0;}
.data_tb_render_container{display:flex;gap:20px 0;margin:0 -10px;flex-wrap:wrap;}
.data_tb_render_cols{flex:0 0 50%;box-sizing: border-box;width:50%;padding:0 10px;display:flex;flex-direction: column;}
.render_key_row{flex:0;}
.render_key_bar{font-weight:500;position:relative;border:1px solid #888f99;display:block;text-align: center;padding:14px;}
.render_key_bar:after{display:none;content:'';width:100%;height:100%;box-sizing: border-box;border:1px solid #888f99;position:absolute;top:0;left:0;}
.render_key_bar.active:after{display:block;border-color:#438ff5;}
.render_key_bar.active{font-weight:700;color:#438ff5}
.render_data_table_row{flex:1;min-height:0;}

/* timeline */
.data_timeline_wrap{padding:30px 30px;}
.data_timeline_util_row{display:flex;justify-content: space-between;align-items: flex-end;margin-bottom:20px;}
.data_timeline_guide_cols{}
.data_timeline_guide_cols .data_timeline_guide_cols{}
.data_timeline_else_cols{}
input.form_calendar{width:140px;border:1px solid #c8c8c8;border-radius:7px;padding:0 36px 0 10px;color:#2b2b2b;line-height:1;font-size:15px;box-sizing: border-box;height:36px;background:#fff url("../images/ico_input_calendar.png") no-repeat 100% 50%/28px auto;}

.data_timeline_container_row{border:1px solid #dddddd;border-radius:10px 0 10px 0;padding:23px 20px 0}
.data_timeline_container{display:flex;position:relative;overflow:hidden;padding-bottom:40px;}
.data_timeline_key_cols{flex:0 0 90px;position:relative;z-index:3;}
.timeline_label_box_vitem_wrap{display:flex;gap:42px;flex-direction: column;/* overflow:hidden;position:relative; */border-radius:10px 0 0 10px;}
.timeline_label_box_vitem_wrap:before{display:block;content:'';width:100%;height:100%;box-sizing: border-box;position:absolute;top:0;left:0;border-left:1px solid #d9d9d9;}
.timeline_label_box_vitem{display:flex;position:relative;z-index:2;}
.timeline_label_box_vitem.type2{}
.timeline_text_box{flex:0 0 60px;background:#4a586e;display:flex;align-items: center;justify-content: center;font-weight:500;color:#fff;text-align: center;line-height: 1.8;border-radius:10px 0 0 0;}
.timeline_label_box_vitem.type2 .timeline_text_box{background:#3f4858;border-radius:0 0 0 10px;}
.timeline_number_box_group{flex:0 0 30px;border-top:1px solid #d9d9d9;border-right:1px solid #cacaca;box-sizing: border-box;width:30px;display:flex;flex-direction: column;}
.timeline_number_box{flex:0 0 90px;position:relative;display:flex;align-items: center; justify-content: center;border-bottom:1px solid #d9d9d9;background:#fafafa;box-sizing: border-box;font-size:16px;color:#1b1b1b;font-weight:500;}
// .timeline_label_box_vitem .timeline_number_box:last-of-type{border-bottom:0}
// .timeline_label_box_vitem:last-of-type .timeline_number_box:last-of-type{border-bottom:1px solid #d9d9d9;}
.timeline_number_box:before,
.timeline_number_box:after{display:block;content:'';width:200vw;height:1px;background:#d9d9d9;position:absolute;left:0;top:-1px;}
.timeline_number_box:before{display:none;}
.timeline_number_box:after{}
.timeline_number_box:last-of-type:before{display:block;bottom:-1px;top:auto;}
.data_timeline_chart_cols{flex:1;min-width:0;position:relative;z-index:0;}

.swiper-container.timeline-chart-container{height:100%;}
.swiper-container.timeline-chart-container .swiper-wrapper,
.swiper-container.timeline-chart-container .swiper-slide{width:auto;height:auto;}
.swiper-container.timeline-chart-container .swiper-wrapper{width:auto;height:auto;}
.swiper-container.timeline-chart-container .swiper-slide{width:auto;height:auto;background:url("../images/bg_horline_last.png") repeat-y 100% 50%,url("../images/bg_horline.png");}
.timeline-chart-scrollbar.swiper-scrollbar{width:100%;left:0;bottom:-22px;height:8px;position:absolute;background:#f5f5f5;}
.timeline-chart-scrollbar .swiper-scrollbar-drag{background:#d9d9d9;}

.data_timeline_box_cols{flex:0 0 270px;display:flex;flex-direction: column;position:relative;z-index:5;}
.timeline_summary_box{flex:1;display:flex;flex-direction: column;}
.timeline_summary_title_row{flex:0;border:2px solid #455267;display:flex;}
.timeline_summary_title_row i{flex:0 0 53px;background:#4a586e url("../images/ico_plane_in.png") no-repeat 50% 50%/26px auto;min-height:26px;}
.timeline_summary_title_row i.down{}
.timeline_summary_title_row i.up{}
.timeline_summary_title{flex:1;text-align: center;display:flex;justify-content: center;align-items: center;font-size:19px;font-weight:700;color:#333c4c;padding:12px;}
.timeline_summary_content_row{flex:1;min-height:0;border:1px solid #8690a0;border-top:0;background:#fafafa;}
.timeline_summary_else{flex:0 0 42px;border:1px solid #8690a0;border-bottom:0;border-top:0;display:flex;align-items: center;justify-content: center;}
.timeline_summary_else_text{color:#000000;font-weight:700;font-size:16px;}
.chart_cellgrid_wrap{height:100%;min-width:100%;display:flex;}
.chart_cellgrid_wrap{}

.cellgrid_horizontal_line_group{}
.cellgrid_horizontal_line_list{}
.cellgrid_horizontal_line_list > li{}

// .data_timeline_container.type2 .timeline_number_box:before,
// .data_timeline_container.type2 .timeline_number_box:after{display:none;}
// .data_timeline_container.type2 .swiper-container.timeline-chart-container .swiper-slide{}
// .data_timeline_container.type2 .timeline_number_box:first-of-type:before{display:block;}
// .data_timeline_container.type2 .timeline_number_box:last-of-type:before{display:block;}

.time_unit_list_wrap{flex:0 0 43px;display:flex;height:43px;background:#fff;}
.time_unit_list{display:flex;height:100%;}
.time_unit_list > li{flex:0 0 50px;display:flex;align-items:center;position:relative;width:50px;}
.time_unit_text{display:inline-block;transform:translateX(-50%)}

.cellgrid_unit_item_wrap{flex:1;display:flex;flex-direction: column;}
.cellgrid_unit_item{flex:1;min-height:0;width:100%;height:100%;display:flex;flex-direction: column;box-sizing: border-box;}
.cellgrid_unit_row{flex:0 0 90px;box-sizing: border-box;}


.data_table_zone{display:flex;flex-direction:column;gap:20px;box-sizing: border-box;position:absolute;top:30px;left:30px;width:calc(100% - 60px);height:calc(100% - 60px)}
.data_table_sort_wrap{flex:0;display:flex;justify-content: space-between;align-items: flex-end;}
.data_sort_main_cols{}
.data_sort_sub_cols{display:flex;align-items: center;gap:10px;}
.data_sort_sub_cols .chart_guide_item_list{}
.box_dtab_list{display:flex;border:1px solid #3f4858;position:relative;border-radius:10px 0 10px 0;overflow:hidden;}
.box_dtab_list > li{}
.box_dtab_list > li:last-of-type{}
.box_dtab{display:flex;justify-content:center;align-items:center;font-size:16px;font-weight:500;color:#3f4858;font-weight:500;min-width:220px;padding:12px;box-sizing: border-box;}
.box_dtab.active{background:#3f4858;color:#fff;}

.data_table_render_wrap{flex:1;overflow:hidden;min-height:0;display:flex;flex-direction: column;}
.data_table_thead_row{position:relative;overflow:hidden;border-radius:3px;}
.data_thead_table{width:100%;table-layout: fixed;}
.data_thead_table th{background:#59687f;padding:10px;border-right:1px solid #707c8f;}
.data_thead_table th:last-of-type{border-right:0;}
.data_thead_table th[rowspan]{border-left:1px solid #707c8f;}
.data_thead_table th[colspan]{border-bottom:1px solid #707c8f;}
.data_thtext{font-size:16px;display:inline-block;color:#fff;line-height:1.2;}
.data_table_tbody_row{flex:1;overflow:hidden;min-height:0;}
.swiper-container.swiper-tbody-scroll{height:100%;}
.swiper-container.swiper-tbody-scroll .swiper-wrapper{width:auto;height:auto;}
.swiper-container.swiper-tbody-scroll .swiper-slide{width:auto;height:auto;}
.data_tbody_table{width:100%;table-layout: fixed;}
.data_tbody_table td{border-bottom:1px solid #e7e7e7;padding:10px;}
.data_tbody_table td:last-of-type{}
.data_tdtext_group{}
.data_tdtext_mark_cols{}
.data_tdtext_text_cols{}
.data_tdtext_text_cols .data_tdtext{}
.data_tdtext{display:inline-block;font-size:15px;color:#4e4e4e;line-height:1.2;}

.swiper-wrapper.disabled {
    transform: translate3d(0px, 0, 0) !important;
}


.swiper-tbody-scroll .swiper-scrollbar{width:8px;background:#f5f5f5;}
.swiper-tbody-scroll .swiper-scrollbar-drag{background:#d9d9d9;}