/* layout */
html:not(.touchmode) {
    ::-webkit-scrollbar {width: 12px;background-color: transparent;height:12px;}
    ::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 12px;background-clip: padding-box;border: 3px solid transparent;}
    ::-webkit-scrollbar-track {background-color: transparent;border-radius: 12px;box-shadow: inset 0px 0px 5px transparent;}
}


.front_body{
  min-height:100vh;
  &.center_form_body{
    
  }
  &.map_api_body{
    
  }
}
.page_wrap{display:flex;flex-direction: column;min-height:100vh; margin:0 auto; min-width:1024px;
    > div:not(.tooltip_wrap),
    > section,
    > header,
    > footer{width:100%;box-sizing: border-box;}
}

.header_wrap{flex:0;box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.06);}
.hgroup_wrap{display:flex;justify-content: space-between;align-items: center;min-height:56px;box-sizing: border-box;border-bottom:1px solid #e1e1e1;padding:0 30px;}
.hgroup_logo_cols{}
.toplogo{display:flex;align-items: center;gap:8px;line-height:0;font-size:0;}
.toplogo_link{display:inline-block;}
.toplogo_link > img{vertical-align: middle;max-width:155px;}
.toplogo_text{display:inline-block;border:1px solid #cecece;font-weight:500;border-radius:100px;color:#1b1b1b;line-height:1;padding:6px 12px;font-size:15px;}
.hgroup_util_cols{display:flex;gap:12px;}
.hgroup_util_text_list{display:flex;align-items: center;gap:10px;font-size:0;line-height:0;}
.hgroup_util_text_list > li{}
.hgroup_util_text_list > li:last-of-type{}
.hgroup_util{color:#2b2b2b;display:inline-block;font-size:15px;line-height:1;}
.btn_ico_util{display:inline-block;line-height:0;font-size:0;background-position:0 0;background-size:100% auto;background-repeat:no-repeat;}
.btn_ico_util.ico_logout{background-image:url("../images/ico_logout.png");width:24px;height:20px;}

.nav_list_wrap{height:64px;position:relative;padding:0 8.33333333333333%;
  &.type2{
    .nav_one:after{width:50%;left:50%;transform: translateX(-50%);}
  }
}
.nav_list_wrap:before{display:block;content:'';width:100%;height:1px;background:#333c4c;position:absolute;bottom:0;left:0;}
.nav_list{display:flex;justify-content: center;position:relative;z-index:1;height:100%;gap:3%}
.nav_list > li{flex:1;min-width:0;display:flex;justify-content: center;}
.nav_one{font-size:18px;font-weight:700;line-height:1;height:100%;display:flex;align-items: center;width:100%;justify-content: center;position:relative;}
.nav_one:after{display:block;content:'';width:100%;height:3px;background:#333c4c;position:absolute;bottom:0;left:0;opacity:0;transition:.4s;}
.nav_one_text{}
.nav_list > li.active .nav_one{}
.nav_list > li.active .nav_one:after{opacity:1;}
.nav_list > li.active .nav_one .nav_one_text{}

.nav_one:hover:after{opacity:1;}

.bottom_fixed_wrap{flex:0;padding:30px 0;
  .paging_wrap{margin-top:0}
  &.type2{padding-right:190px}
}

.footer_wrap{flex:0 0 40px;background:#1c212a;text-align: center;display:flex;justify-content: center;position:relative;padding:0 30px;align-items: center;border-top:1px solid #1c212a;box-sizing: border-box;}
.footer_main_item{}
.footer_copy{font-size:13px;color:#ffde00;line-height:1;position:relative;}
.window{
  .footer_copy{top:-3px;}
}
.footer_layer_item{position:absolute;top:0;right:0;height:100%;display: flex;align-items: center;padding:0 30px 0 0;}
.footer_bottom_logo{max-width:160px;}
.footer_bottom_logo img{vertical-align: top;}
.footer_wrap.type2{background:#fff;border-top-color:#e7e7e7;}

.middle_wrap{min-height:0;flex:1;position:relative;max-width:1920px;margin:0 auto;}
.middle_wrap.type2{display:flex;flex-direction: column;}

@media (max-width:1440px){
  .nav_list_wrap{
    &.type2{
      .nav_one:after{width:60%;}
    }
  }
}


/* 공통 popup */
.popup_wrap {position: fixed;top: 0;left: 0;width: 100%;height: 100%;opacity:0;transition:.4s;z-index: 130;display: none;align-items: center;justify-content: center;min-width:1024px;overflow: hidden;flex-wrap: wrap;box-sizing:border-box;padding:0 20px;
  &.active {display: flex;}
  &.motion_end{opacity:1;}
  
  &.skin2{
    .popup_title_low{
      border-bottom:1px solid #ddd;padding:16px 0 0;margin:0 40px;
    }
    .popup_content_row{margin-top:30px;}
  }
}

.popup_item {
  box-sizing: border-box;width:100%;z-index: 20;max-width:1440px;margin: 40px auto;max-height: calc(100% - 80px);background:#fff;position: relative;display: flex;border:2px solid #333c4c;flex-direction: column;border-radius: 10px;
  box-shadow: 6px 6px 10px 0 rgba(17, 16, 66, 0.2);
  &.type2{
    height: calc(100% - 80px);
  }
  &.size_small{max-width:820px;}
  &.size_xsmall{max-width:445px;}
}

.layer_wrap_parent{
  &.has_active_multi{
      .bg_dim{visibility: hidden;}
      .popup_wrap{
          &.active{
              &.active_first{
                  .bg_dim{visibility: visible;}
              }
          }
      }
  }
}


.bg_dim {display: block;width: 100%;height: 100%;position: fixed;top: 0;left: 0;z-index: 0;background: #000;opacity:.8;
}

.popup_top_row {flex: 0;padding: 0 30px 0 30px;}
.popup_top_row .boxtab_list_wrap{padding-top:23px;}

.btn_popup_close{display:block;width:36px;height:36px;background:url("../images/ic_popup_close@2x.png") no-repeat 50% 50%/14px auto;position:absolute;top:15px;right:23px;}

.popup_content_row{flex:1;min-height:0;position:relative;overflow-y:overlay;padding:30px 30px 40px;
  &.scrollmode{padding-right:20px;}
  &.notitle{padding:65px 30px 30px;}
  .btn_bottom_wrap{margin-top:30px;}
}

.popup_footer_row{flex:0 0 40px;display:flex;justify-content: flex-end;position:relative;padding:0 30px;align-items: center;border-top:1px solid #e7e7e7;box-sizing: border-box;}


.popup_top_title{font-size:20px;color:#000;line-height:1.4;font-weight:500;padding:20px 40px 0 0;}
.footer_bottom_logo{max-width:160px;}
.footer_bottom_logo img{vertical-align: top;}

.popup_footer_bottom_logo{max-width:160px;}
.popup_footer_bottom_logo img{vertical-align: top;}

.screen_content_both{display:flex;position:relative;
  &:after{display:block;content:'';width:1px;height:calc(100% + 24px);position:absolute;top:-24px;right:42%;background:#d9d9d9;}
}
.screen_content_main_cols,
.screen_content_sub_cols{overflow: hidden;overflow-y:auto;position:relative;}

.screen_content_main_cols{flex:1;min-width:0;padding:16px 30px 100px;}
.screen_content_sub_cols{flex: 0 0 42%;box-sizing: border-box;width:42%;padding:26px 30px 100px;}


.boxtab_list_wrap{position:relative;}
.boxtab_list_wrap:before{display:block;content:'';width:100%;height:1px;background:#3d4758;position:absolute;bottom:0;left:0;}
.boxtab_list{display:flex;padding-left:1px;}
.boxtab_list > li{overflow:hidden;margin-left:-1px;}
.boxtab_list > li:last-of-type{}
.boxtab{display:flex;min-width:220px;min-height:50px;align-items: center;justify-content: center;border:1px solid #3d4758;border-radius:10px 10px 0 0;box-sizing: border-box;background:#fff;}
.boxtab_text{font-size:16px;color:#3f4858;line-height:1;position:relative;top:0;}
.boxtab.active{background:#3f4858;}
.boxtab.active .boxtab_text{color:#fff;}
.boxtab_list_wrap{}



/* 공통 alert confirm */
.btn_guide {display: inline-block;font-size: 16px;padding: 15px 30px;border: rem(1) solid #ddd;}

.design_modal_wrap {
    position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 100;min-width: 240px;overflow: hidden;display: none;
    &.active {display: block;
        &.motion .bg_design_modal {background: rgba(0, 0, 0, .3);}
        &.motion .design_modal {opacity: 1;}
    }
}

.btn_dmsm_wrap{
    display: flex;
    justify-content: space-between;
    position:relative;overflow:hidden;
    border-radius: 0 0 16px 16px;

    height: 52px;
}
.btn_dmsm{
    flex:1;display: flex;align-items:center;width: 100%;font-weight:500;height:100%;justify-content:center;text-align: center;font-size: rem(18);color: #fff;transition:background .5s;
    &.btn_dmsmclose{
        background:#98979d;
    }
    &.btn_dmsmidentify{
        background:$primary;
    }
}
.bg_design_modal {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0);z-index: 0;transition: .5s;}

.design_modal_tb {position:absolute;top:0;left:0;display: table;width: 100%;height: 100%;table-layout: fixed;z-index: 5;position: absolute;top: 0;left: 0;}

.design_modal_td {display: table-cell;vertical-align: middle;padding: 20px;}

.design_modal_w {display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;}

.design_modal {background: #fff;position: relative;transition: .5s opacity;opacity: 0;max-width:rem(400);margin:0 auto; text-align: center;
    border-radius: 20px 20px 50px 50px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.design_modal_tit{padding: 25px 20px 0 20px;display: flex;box-sizing: border-box;font-size: 16px;font-weight: 700; color: #222;}
.design_modal_cont_w {padding:70px 20px 40px;box-sizing: border-box;font-size: 16px;font-weight: 500; color: #666;}

.design_modal_maintext{font-size:22px;color:#000000;word-break: keep-all;font-weight:350;}
.design_modal_subtext{font-size:16px;margin-top:5px;color:#000000;word-break: keep-all;font-weight:300;}

.design_bottom_popup_w {position: absolute;bottom: 0;left: 0;width: 100%;background: #fff;}


.design_modal_maintext{}

.btn_modal_close {display: block;width: 24px;height: 24px;position: absolute;top:20px;right:20px;font-size: 0;line-height: 0; 
    &:before,
    &:after {width: 14px;height: 1px;display: block;content: '';position: absolute;top: 50%;left: 50%;background: #666666;margin:-0.5px 0 0 -0.7px;transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);}
    &:before {transform: rotate(45deg);-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);}
    &:after {transform: rotate(-45deg);-ms-transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}
}




/* loading */
.loading_layer{position:fixed;top:0;left:0;width:100%;height:100%;z-index:200;display:none;text-align:center;
  &:before{display:block;content:'';width:100%;height:100%;position:fixed;top:0;left:0;background:#1f1f23;opacity:.5;}
  &.active{display:block;}
}
.loading_item_wrap{position:fixed;top:0;left:0;width:100%;height:100%;display:flex;align-items: center;justify-content: center;}
.loading_item{}
.loading_text{font-size:16px;color:#fff;font-weight:600;line-height:1;margin-top:20px;}
.dot-spinner {
  --uib-size: 80px;
  --uib-speed: .9s;
  --uib-color: #fff;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse calc(var(--uib-speed) * 1.111) ease-in-out infinite;
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

